/* html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

main {
  display: none;
}

body {
  padding: 0 20%;
}

#canvasContainer {
  width:100%;
  transform:scale(0.6);
  display:flex;
  justify-content:center;
  align-items:center;
}
